.logos img{
    width: 200px;
}

.content-wrapper p {
    padding: 20px;
}

.logos{
    margin: 0 auto;
    padding: 20px;
}

#coaching {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
}

#intro {
    border-bottom: 2px solid black;
}

.content-wrapper {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.services {
    padding: 20px;
    margin: 0 auto;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.services img{
    display: block;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 5px;
}

#services-header{
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.2rem;
}

.services img:hover, .services img:focus {
    border: 2px solid red;
    border-radius: 5px;
}


@media screen and (min-width:700px){

}

@media screen and (min-width:900px){
    /* change display to move logos right of text blurb */
}